<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui form">
  <div class="three fields">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , :placeholder => "نام" %>
  </div>
  <div class="field">
    <%= f.label :family %><br>
    <%= f.text_field :family , :placeholder => "نام خانوادگی" %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :sexuality , :placeholder => "جنسیت" %>
  </div>
  </div>
  <div class="three fields">
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email  , :placeholder => "ایمیل" %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name , :placeholder => "نام پدر" %>
  </div>
  <div class="field">
    <%= f.label :inmate %><br>
    <%= f.text_field :inmate , :placeholder => "صادره از" %>
  </div>
  </div>
  <div class="three fields">
  <div class="field">
    <%= f.label :s_s %><br>
    <%= f.number_field :s_s , :placeholder => "شماره شناسنامه" %>
  </div>
  <div class="field">
    <%= f.label :s_m %><br>
    <%= f.number_field :s_m , :placeholder => "شماره ملی" %>
  </div>
  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :job  , :placeholder => "شغل"%>
  </div>
  </div>
  <div class="two fields">
  <div class="field">
    <%= f.label :phon %><br>
    <%= f.text_field :phon , :placeholder => "شماره موبایل" %>
  </div>
  <div class="field">
    <%= f.label :tell %><br>
    <%= f.text_field :tell , :placeholder => "شماره تلفن" %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>


<% end %>
