<%= form_for(@request_loan) do |f| %>
  <% if @request_loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_loan.errors.count, "error") %> prohibited this request_loan from being saved:</h2>

      <ul>
      <% @request_loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :loan_sum %><br>
    <%= f.number_field :loan_sum %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :loan_percent %><br>
    <%= f.number_field :loan_percent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
