<%= form_for(@membership_customer) do |f| %>
  <% if @membership_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership_customer.errors.count, "error") %> prohibited this membership_customer from being saved:</h2>

      <ul>
      <% @membership_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :sum %><br>
    <%= f.text_field :sum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
